/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Styles */
html,body{
  margin: 0;
  padding: 0;
}
#map{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.welcome-section {
	width: 100%;
	height: 100vh;
	background: #328CC1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	font-family: 'oswald', monospace;
	color: white;
  }
.butterfly {
	width: 100%;
	height: 100vh;
	background: #328CC1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	font-family: 'Alegreya', serif;
	color: white;
  }

body {
  color: #36454f;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  padding: 0em;
  margin-left: 30px;
}

.container-lg {
  max-width: 1012px;
  margin-right: 0px;
  margin-left: 0px;
}

.btn {
  position: relative;
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'oswald', monospace;
  font-size: 16px;
  position: relative;
  z-index: 5;
}

.yr {
  font-family: 'Poppins', sans-serif;
  font-size: 5em;
  text-shadow: 2px 2px 4px #FFFF;
}
.portfolio {
	width: 100wh;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: #1D2731;
	color: white;
	text-align: center;
	padding: 5rem 2rem 10rem;
}
.projects {
	display: inline-block;
	width: 100%;
	margin: 0 0 2rem 0;
  }
#event{
  position: absolute;
  top: 50px;
  right: 500px;
  height: 100px;
  width: 400px;
  z-index: 10;
}

.container {
  position: relative;
}

.topright {
  position: absolute;
  top: 0px;
  right: 3em;/*50px;*/
  z-index: 10;
  background:white;
  opacity: 75%;
  padding: 1em;/*20px;*/
}

.bottomleft {
	display: inline-block;
	position: absolute;
	margin-bottom: 0px;
	margin-left: 50px;
	bottom: 0px;
	width: 45%;
	height: 30%;
	z-index: 10;
	/* background:white; */
	opacity: 75%;
	padding: 20px;
	font-size: 1.75em;
  }

h2 {
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 0.75em;
}
p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.top5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;/*24px;*/
  z-index: 10;
  font-weight: 400;
  margin-left: 15%;
}

.center {
/*border: 5px solid yellow;*/
text-align: center;
/*padding: 10px;*/
}

.leaflet-popup-content-wrapper {
	background-color: #020202;
	color: #fff;
}

.year {
  position: absolute;
  padding: 20px;
  top: 10px;
  left: 50px;
  z-index: 10;
}

.cellit {
	position: relative;
	width: 250px;
	border: 1px solid #fff;
	background: #fff;
	border: 5px double #fff;
	border-radius: 10px;
	padding: 10px;
	/*box-shadow: inset 6px -6px 30px rgba(0,0,0,.2),inset -6px 6px 25px rgba(255,255,255,0.2);*/
	color: #36454f;
}

.cellit:before {
	position: absolute;
	content: "";
	z-index: 3;
	width: 54%;
	height: 100%;
	left: 3%;
	bottom: 10px;
}

.cellit:after
{	position: absolute;
	width: 54%;
	height: 96.5%;
	left: 3%;
	top: 10px;
	border-radius: 20px;
	/*border-top: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-left: 1px solid rgba(236, 96, 96, 0.5);
	box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);*/
	content: "";

}
#news>div {
	margin-bottom: 20px;
}
© 2021 GitHub, Inc.

#leaderboard{
	position:relative;
	/*width:200px;*/
	padding:0px;
	left:50%;
	margin-left:-200px;
}
#leaderboard ul{
	position:relative;
	list-style: none;
	margin:0;
	padding:0;
}
#leaderboard ul li{
	position:absolute;
	display:block;
	width:100%;
	padding:0px;
	/*border-radius:5px;
	background: linear-gradient(to top,rgb(241, 241, 241) 0%, rgb(125,125,125) 100%);*/
	border-bottom:1px solid #FFFF;
	border-top:1px solid #FFFF;
	/*box-shadow: 3px 3px 5px #FFFF;*/
	opacity: 1;
	transition: top cubic-bezier(1.000, -0.530, 0.405, 1.425) 3s;
}
#leaderboard ul li a{
	display: block;
	text-decoration: none;
	font-family:  oswald;
	color: #36454f
}
#leaderboard ul li a:hover{
	text-shadow: 0 0 10px rgb(48, 48, 182);
}
#leaderboard li span {
	float:right;
	color:black;
	opacity: 1;
	transition: opacity ease 3s;
}
#leaderboard li span:after {
	content:' Deportations';
	color:rgb(60, 62, 65);
	font-size:10px;
}
#leaderboard .move{

}

#leaderboard .replace{
	animation: replace 2s;
	-webkit-animation: replace 2s;
}
#leaderboard .move span,#leaderboard .replace span{
	opacity:0;
}

@keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}
@-webkit-keyframes replace
{
	0% {left: -500px;opacity:0;}
	100% {left: 0px;opacity:1;}
}

.line {
	fill: none;
	stroke-width: 3px;
  }
  
  .overlay {
	fill: none;
	pointer-events: all;
  }
  
  .hover-line {
	stroke: #B74779;
	stroke-width: 2px;
	stroke-dasharray: 3,3;
  }

